name: validation

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: build
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use .NET 8.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Install JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: microsoft
          java-version: 17

      - name: Use Xcode 15.3
        run: sudo xcode-select -s /Applications/Xcode_15.3.app/Contents/Developer

      - name: Install MAUI
        run: dotnet workload install maui

      - name: Install boots
        run: dotnet tool update -v:d boots --version 1.1.0.36 --add-source "https://api.nuget.org/v3/index.json" --global

      - name: Install Classic XI
        run: boots https://download.visualstudio.microsoft.com/download/pr/ceb0ea3f-4db8-46b4-8dc3-8049d27c0107/3960868aa9b1946a6c77668c3f3334ee/xamarin.ios-16.4.0.23.pkg

      - name: Install Sharpie
        run: brew install objectivesharpie

      - name: Create logs dir
        run: mkdir -p ${{ runner.temp }}/logs/

      - name: Create local nupkg dir
        run: mkdir -p ./src/CommunityToolkit.Maui.NativeLibraryInterop.BuildTasks/bin/Release

      - name: Build and test build tasks
        working-directory: ./src
        run: >-
          dotnet test CommunityToolkit.Maui.NativeLibraryInterop.BuildTasks.sln
          --logger trx --results-directory ${{ runner.temp }}/logs/TestResults-build-tasks
          -bl:${{ runner.temp }}/logs/build-tasks.binlog

      - name: Pack build tasks
        working-directory: ./src/CommunityToolkit.Maui.NativeLibraryInterop.BuildTasks
        run: dotnet pack CommunityToolkit.Maui.NativeLibraryInterop.BuildTasks.csproj -bl:${{ runner.temp }}/logs/build-tasks-pack.binlog

      - name: Upload nupkg
        uses: actions/upload-artifact@v4
        with:
          name: nupkg
          path: ./src/CommunityToolkit.Maui.NativeLibraryInterop.BuildTasks/bin/Release/*.nupkg

      - name: Build template
        working-directory: ./template
        run: dotnet build -bl:${{ runner.temp }}/logs/template.binlog

      - name: Build facebook
        working-directory: ./facebook
        run: dotnet build -bl:${{ runner.temp }}/logs/facebook.binlog

      - name: Build firebase
        working-directory: ./firebase/macios
        run: dotnet build -bl:${{ runner.temp }}/logs/firebase-macios.binlog

      - name: Build googlecast
        working-directory: ./googlecast/macios
        run: dotnet build -bl:${{ runner.temp }}/logs/googlecast-macios.binlog

      - name: Upload logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: build-logs
          path: ${{ runner.temp }}/logs/
